---
interface Props {
  name: string;
  artist: string;
  songUrl: string;
  artistUrl: string;
  albumArt: string;
}

const { name, artist, songUrl, artistUrl, albumArt } = Astro.props;
---

<div class="no-spacing song">
  <img
    src=`./albums/${albumArt}`
    alt=`album art of ${albumArt}`
    class="album-art"
  />

  <div class="song-info">
    <h3 class="no-spacing">
      <a href={songUrl} target="_blank" class="no-spacing">{name}</a>
    </h3>
    <p class="color-lighter-gray no-spacing left-indent">
      by <a href={artistUrl} target="_blank" class="no-spacing">{artist}</a>
    </p>
  </div>
</div>
