---
import Divider from "../../../common-astro/components/Divider.astro";
import SocialIcon from "../Icons/SocialIcon.astro";
import FontAwesomeIcon from "../../../common-astro/components/FontAwesomeIcon.astro";

interface Props {
  sections: string[];
  links: string[];
  icons?: string[];
  iconUrls?: string[];
  socials?: string[];
}

const { sections, links, icons, iconUrls, socials } = Astro.props;
---

<div class="navbar show-on-desktop hide-on-mobile">
  <div class="navbar-links">
    {
      sections.map((section: string) => (
        <>
          <span style="display: inline-block">
            <h3>
              <a href={links[sections.indexOf(section)]}>
                {section.charAt(0).toUpperCase() + section.slice(1)}
              </a>
            </h3>
          </span>
        </>
      ))
    }
  </div>

  <div class="navbar-socials">
    {
      socials && socials?.length > 0 && (
        <h2 aria-label="Navigation bar social icons">
          <>
            {socials.map((social: string) => (
              <>
                <SocialIcon social={social} />
                {socials.indexOf(social) < socials.length - 1 && <Divider />}
              </>
            ))}
          </>
        </h2>
      )
    }
    {
      icons &&
        icons?.length > 0 &&
        iconUrls &&
        iconUrls?.length > 0 &&
        iconUrls.length == icons.length && (
          <h2 aria-label="Navigation bar social icons">
            <>
              {icons.map((icon: string) => (
                <>
                  <FontAwesomeIcon
                    iconName={icon}
                    targetUrl={iconUrls[icons.indexOf(icon)]}
                  />
                  {icons.indexOf(icon) < icons.length - 1 && <Divider />}
                </>
              ))}
            </>
          </h2>
        )
    }
  </div>
</div>

<div class="navbar show-on-mobile hide-on-desktop top-right">
  <span onclick="openNav()">
    <FontAwesomeIcon iconName="fa-solid fa-bars" />
  </span>

  <div id="myNav" class="overlay">
    <span class="closebtn top-right" onclick="closeNav()">
      <FontAwesomeIcon iconName="fa-solid fa-x" />
    </span>

    <div class="overlay-content">
      {
        sections.map((section: string) => (
          <h3>
            <a href={links[sections.indexOf(section)]}>
              {section.charAt(0).toUpperCase() + section.slice(1)}
            </a>
          </h3>
        ))
      }

      <Divider />

      <div>
        {
          socials && socials?.length > 0 && (
            <h2 aria-label="Navigation bar social icons">
              <>
                {socials.map((social: string) => (
                  <>
                    <span style="display:inline-block;">
                      <SocialIcon social={social} />
                    </span>
                  </>
                ))}
              </>
            </h2>
          )
        }
        {
          icons &&
            icons?.length > 0 &&
            iconUrls &&
            iconUrls?.length > 0 &&
            iconUrls.length == icons.length && (
              <h2 aria-label="Navigation bar social icons">
                <>
                  {icons.map((icon: string) => (
                    <>
                      <span style="display:inline-block;">
                        <FontAwesomeIcon
                          iconName={icon}
                          targetUrl={iconUrls[icons.indexOf(icon)]}
                        />
                      </span>
                    </>
                  ))}
                </>
              </h2>
            )
        }
      </div>
    </div>

    <script is:inline>
      function openNav() {
        document.getElementById("myNav").style.width = "100%";
      }

      function closeNav() {
        document.getElementById("myNav").style.width = "0%";
      }
    </script>
  </div>
</div>
