---
import DogPicture from "../components/ui/DogPicture";
import SocialIcons from "../components/icons/SocialIcons.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { ContentType, Status } from "../lib/types";
import ScrollIndicator from "../components/ui/ScrollIndicator.astro";
import ContentDisplayer from "../components/content/ContentDisplayer.astro";
---

<PageLayout
  title="copperdevs"
  description="home page of my personal site"
  pageTitle="home"
>
  <div class="show-on-desktop">
    <ScrollIndicator />
  </div>

  <div class="callout callout-top-spacing">
    <div class="show-on-desktop"><div class="callout-extra-spacing"></div></div>
    <h1 class="header no-spacing">
      Hello World. I'm
      <span class="text-gradient name">
        Copper <DogPicture status={Status.None} class:list={"image"} />
      </span>
    </h1>
    <h3 class="sub-header no-spacing">
      <span>I'm a 16 year old developer from America.</span>
      <div class="show-on-desktop">
        <SocialIcons />
      </div>
    </h3>
    <div class="hide-on-desktop">
      <SocialIcons />
    </div>
    <hr class="no-spacing limit" />
  </div>

  <div class="callout top-spacing-half-vh">
    <h2 class="smaller-header no-spacing">Projects</h2>
    <hr class="no-spacing limit-center" />
    <ContentDisplayer
      contentType={ContentType.Projects}
      showSeperators={true}
    />
  </div>

  <div class="callout">
    <h2 class="smaller-header no-spacing">Favorite Songs</h2>
    <hr class="no-spacing limit-center" />
    <ContentDisplayer contentType={ContentType.Songs} showSeperators={true} />
  </div>

  <div class="callout">
    <h2 class="smaller-header no-spacing">Uses</h2>
    <hr class="no-spacing limit-center" />
    <ContentDisplayer contentType={ContentType.Uses} showSeperators={false} />
  </div>
</PageLayout>
