---
import { Github, Icon, Mail, Twitter, Youtube } from "@lucide/astro";
import { butterfly } from "@lucide/lab";
import favicon from "../assets/favicon.png";
import Blockquote from "../components/Blockquote.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="home" description="home page of my random stuff">
  <div class="thing">
    <div class="quotecenter">
      <Blockquote full={true} noBottomSpacing={true}>
        <div class="usertitle">
          <img src={favicon.src} alt="Havanese Dog" />
          <h1><a href="https://github.com/copperdevs">copperdevs</a></h1>
        </div>

        <div>
          <h2 class="title">hi i'm copper :3 i do stuff</h2>
        </div>
      </Blockquote>

      <ul>
        <a href="mailto:me@copperdevs.com" target="_blank" rel="noopener">
          <Blockquote full={true}>
            <li class="pointer">email</li>
          </Blockquote>
        </a>
        <a href="https://twitter.com/copperdevs" target="_blank" rel="noopener">
          <Blockquote full={true}>
            <li class="pointer">twitter</li>
          </Blockquote>
        </a>
        <a
          href="https://youtube.com/@copperdevs"
          target="_blank"
          rel="noopener"
        >
          <Blockquote full={true}>
            <li class="pointer">youtube</li>
          </Blockquote>
        </a>
        <a href="https://github.com/copperdevs" target="_blank" rel="noopener">
          <Blockquote full={true}>
            <li class="pointer">github</li>
          </Blockquote>
        </a>
        <a
          href="https://bsky.app/profile/copperdevs.com"
          target="_blank"
          rel="noopener"
        >
          <Blockquote full={true}>
            <li class="pointer">bsky</li>
          </Blockquote>
        </a>
        <a
          href="https://modrinth.com/user/copperdevs"
          target="_blank"
          rel="noopener"
        >
          <Blockquote full={true}>
            <li class="pointer">modrinth</li>
          </Blockquote>
        </a>
      </ul>
    </div>
  </div>
</BaseLayout>
