---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getLinkData } from "../lib/util";
import { UrlType } from "../lib/enums";
import { capitalizeFirstLetter } from "../lib/util";

const projects = (await getCollection("projects")).filter(
  (projects) => projects.data.unlisted === false
);
---

<BaseLayout pageTitle="projects" description="stuff">
  <ul class="posts">
    {
      projects.map((project, index) => (
        <li transition:name={`posts-list-item-${index}`}>
          <blockquote>
            <h2 class="title">
              <a
                href={
                  getLinkData(
                    project.data.primaryLink,
                    project.data.links.project,
                    project.data.links.source,
                    project.data.links.package
                  )[0]
                }
              >
                {project.data.name}
              </a>
            </h2>

            <li class="description">
              {project.data.description}
              <div>
                <ul>
                  {getLinkData(
                    project.data.primaryLink,
                    project.data.links.project,
                    project.data.links.source,
                    project.data.links.package
                  )[1].map(
                    (link) =>
                      link[1] !== undefined &&
                      link[0] !== project.data.primaryLink && (
                        <li>
                          <a href={link[1]}>{capitalizeFirstLetter(link[0])}</a>
                        </li>
                      )
                  )}
                </ul>
              </div>
            </li>
          </blockquote>
        </li>
      ))
    }
  </ul>
</BaseLayout>
