---
type Props = {
	href: string;
	noSpacing?: boolean;
	noBottomSpacing?: boolean;
	onlyBottomSpacing?: boolean;
};
const {
	href,
	noSpacing = false,
	noBottomSpacing = false,
	onlyBottomSpacing = false,
} = Astro.props;

import Blockquote from "./Blockquote.astro";
---

<Blockquote
  full={true}
  noSpacing={noSpacing}
  noBottomSpacing={noBottomSpacing}
  onlyBottomSpacing={onlyBottomSpacing}
>
  <div class="usertitle">
    <h1>
      <a href={href}><slot /> </a>
    </h1>
  </div>
</Blockquote>
