---
import Archive from "./icons/Archive.astro";
import Butterfly from "./icons/Butterfly.astro";
import Github from "./icons/Github.astro";
import Home from "./icons/Home.astro";
import Images from "./icons/Images.astro";
import Layers from "./icons/Layers.astro";
import Library from "./icons/Library.astro";
import Twitter from "./icons/Twitter.astro";
import Youtube from "./icons/Youtube.astro";
import Link, { LinkType } from "./Link.astro";
---

<aside class="sidebar">
  <nav class="menu">
    <p>Pages</p>
    <ul>
      <li>
        <Link url="/" type={LinkType.Blank}><Home /> Home</Link>
      </li>
      <li>
        <Link url="/projects" type={LinkType.Blank}><Archive /> Projects</Link>
      </li>
      <li>
        <Link url="/photos" type={LinkType.Blank}><Images /> Photos</Link>
      </li>
      <li>
        <Link url="/stack" type={LinkType.Blank}><Layers /> Stack</Link>
      </li>
      <li>
        <Link url="/content" type={LinkType.Blank}><Library /> Content</Link>
      </li>
    </ul>
  </nav>
  <div class="menu">
    <p>Online</p>
    <ul>
      <li>
        <Link url="#" type={LinkType.Blank}><Twitter /> X (Twitter)</Link>
      </li>
      <li>
        <Link url="#" type={LinkType.Blank}><Github /> Github</Link>
      </li>
      <li>
        <Link url="#" type={LinkType.Blank}><Youtube /> Youtube</Link>
      </li>
      <li>
        <Link url="#" type={LinkType.Blank}><Butterfly /> Bluesky</Link>
      </li>
    </ul>
  </div>
</aside>
