---
import Archive from "./icons/Archive.astro";
import Butterfly from "./icons/Butterfly.astro";
import Github from "./icons/Github.astro";
import Home from "./icons/Home.astro";
import Images from "./icons/Images.astro";
import Layers from "./icons/Layers.astro";
import Library from "./icons/Library.astro";
import Twitter from "./icons/Twitter.astro";
import Youtube from "./icons/Youtube.astro";
import Link, { LinkType } from "./Link.astro";
---

<aside class="sidebar">
  <nav class="menu">
    <p class="title">Pages</p>
    <ul>
      <li>
        <Link url="/" type={LinkType.Default} disableActive={true}>
          <Home /> Home
        </Link>
      </li>
      <li>
        <Link url="/projects" type={LinkType.Default} disableActive={true}>
          <Archive /> Projects
        </Link>
      </li>
      <li>
        <Link url="/photos" type={LinkType.Default} disableActive={true}>
          <Images /> Photos
        </Link>
      </li>
      <li>
        <Link url="/stack" type={LinkType.Default} disableActive={true}>
          <Layers /> Stack
        </Link>
      </li>
      <li>
        <Link url="/content" type={LinkType.Default} disableActive={true}>
          <Library /> Content
        </Link>
      </li>
    </ul>
  </nav>
  <div class="menu">
    <p class="title">Socials</p>
    <ul>
      <li>
        <Link url="https://x.com/copperdevs" type={LinkType.Blank}>
          <Twitter /> X (Twitter)
        </Link>
      </li>
      <li>
        <Link url="https://github.com/copperdevs" type={LinkType.Blank}>
          <Github /> Github
        </Link>
      </li>
      <li>
        <Link url="https://www.youtube.com/@copperdevs" type={LinkType.Blank}>
          <Youtube /> Youtube
        </Link>
      </li>
      <li>
        <Link
          url="https://bsky.app/profile/copperdevs.com"
          type={LinkType.Blank}
        >
          <Butterfly /> Bluesky
        </Link>
      </li>
    </ul>
  </div>
</aside>
