---
interface Props {
  pageTitle: string;
  description: string;
  pageLinks?: [string, string, Icon?][];
}

const { description, pageTitle, pageLinks } = Astro.props;

import ViewTransitions from "astro/components/ViewTransitions.astro";

import Sidebar from "../components/Sidebar.astro";
import LinkRedirect from "../components/LinkRedirect.astro";

import PageTitle from "../components/PageTitle.astro";
import { Icon } from "../components/icons/Icons.astro";
import { LinkType } from "../components/Link.astro";
import Style from "../components/Style.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <title>{pageTitle} // copperdevs</title>

    <Style />

    <ViewTransitions />
  </head>

  <LinkRedirect badUrls={["copperdevs.pages.dev"]} targetUrl="copperdevs.com" />
  <LinkRedirect badUrls={["v3.copperdevs.pages.dev"]} targetUrl="v3.copperdevs.com" />

  <body>
    <div class="content">
      <Sidebar
        links={[
          [
            "Pages",
            [
              ["Home", "/", Icon.Home, LinkType.Default, true],
              ["Projects", "/projects", Icon.Archive, LinkType.Default, true],
              ["Photos", "/photos", Icon.Images, LinkType.Default, true],
              ["Uses", "/uses", Icon.Layers, LinkType.Default, true],
              ["Posts", "/posts", Icon.Book, LinkType.Default, true],
              // ["Music", "/music", Icon.AudioLines, LinkType.Default, true],
            ],
          ],
          [
            "Socials",
            [
              [
                "X (Twitter)",
                "https://x.com/copperdevs",
                Icon.Twitter,
                LinkType.Blank,
                false,
              ],
              [
                "Github",
                "https://github.com/copperdevs",
                Icon.Github,
                LinkType.Blank,
                false,
              ],
              [
                "Youtube",
                "https://www.youtube.com/@copperdevs",
                Icon.Youtube,
                LinkType.Blank,
                false,
              ],
              [
                "Blusky",
                "https://bsky.app/profile/copperdevs.com",
                Icon.Butterfly,
                LinkType.Blank,
                false,
              ],
            ],
          ],
        ]}
      />
      <main>
        <div class="main-limit">
          <PageTitle pageTitle={pageTitle} pageLinks={pageLinks} />
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
