---
interface Props {
  pageTitle: string;
  description: string;
  pageLinks?: [string, string, Icon?][];
}

const { description, pageTitle, pageLinks } = Astro.props;

import ViewTransitions from "astro/components/ViewTransitions.astro";

import Sidebar from "../components/Sidebar.astro";
import Umami from "../components/Umami.astro";
import LinkRedirect from "../components/LinkRedirect.astro";

import "../styles/main.css";
import PageTitle from "../components/PageTitle.astro";
import type { Icon } from "../components/icons/Icons.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <title>{pageTitle} // copperdevs</title>

    <ViewTransitions />

    <Umami siteId="bc408a92-1357-4f9b-86ad-5f608ff9e04d" />
  </head>

  <LinkRedirect badUrls={["copperdevs.pages.dev"]} targetUrl="copperdevs.com" />

  <body>
    <div class="content">
      <Sidebar />
      <main>
        <PageTitle pageTitle={pageTitle} pageLinks={pageLinks} />
        <slot />
      </main>
    </div>
  </body>
</html>
