---
interface Props {
  title: string;
  description: string;
  pageTitle: string;
}

const { title, description, pageTitle } = Astro.props;

import ViewTransitions from "astro/components/ViewTransitions.astro";
import Sidebar from "../components/Sidebar.astro";
// import FontAwesome from "../components/icons/FontAwesome.astro";
// import Umami from "../components/analytics/Umami.astro";

import "../styles/main.css";
import { capitalizeFirstLetter } from "../lib/util";
// import "../styles/colors.css";
// import "../styles/effects.css";
// import "../styles/links.css";
// import "../styles/callout.css";
// import LinkRedirect from "../components/utility/LinkRedirect.astro";

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <title>{pageTitle} // {title}</title>

    <ViewTransitions />

    <!-- <Umami siteId="bc408a92-1357-4f9b-86ad-5f608ff9e04d" /> -->
    <!-- <FontAwesome projectId="45b7384014" /> -->
  </head>

  <!-- <LinkRedirect badUrls={["copperdevs.pages.dev"]} targetUrl="copperdevs.com" /> -->

  <body>
    <div class="content">
      <Sidebar />
      <main>
        <div class="spacer-title" transition:name="main-page-tital">
          <h1 class="no-spacing">
            {capitalizeFirstLetter(pageTitle)}
            <span class="color-lighter-gray">- {currentPath}</span>
          </h1>
          <hr class="limit" />
        </div>
        <slot />
      </main>
    </div>
  </body>
</html>
